# Node (React)
node_modules/
build/
dist/
.env
.DS_Store

# Python & Flask
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
instance/
.webassets-cache

# Data & Model
*.h5
*.hdf5
*.ckpt
*.tflite
chat_dataset.xlsx
interaksi_user.xlsx
log_interaksi.txt
datalatihan_AI.xlsx

# VSCode / IDE
.vscode/
*.swp

# OS Files
Thumbs.db
ehthumbs.db

# Logs
*.log

# Mac System Files
.Spotlight-V100
.Trashes

# Windows System Files
desktop.ini
